*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
img{
  border-radius: 50%;
}
.images{
    display: flex;
    justify-content: space-between;
}
html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #D2B48C;
}
.todoApp{
    max-width: 400px;
    margin: 0 auto;
}
.totalTodos{
    font-size: 80%;
}
.todoList{
    margin: 0;
    padding: 0;
}
.todoApp li{
    padding: 0;
    list-style: none;
}
.todoApp i{
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    float: left;
    color: #999;
    padding: 0 4px;
    cursor: pointer;
}
.completed:before{
    content: "\f3fe" !important;
}
.completedlist{
    text-decoration: line-through;
    color: #12A74D;
}
.completedlist i:first-child{
    color: #12A74D;
}
.todoInput li:first-child i{
    display: none;
}
.todoApp i:last-child{
    float: right;
}
.todoList{
    margin-top: 10px;
}
.todoList > li{
    background: #f8f8f8;
    padding: 20px 5px;
    border-bottom: 1px solid #eee;
}
/* Form elements */
.todoApp input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 300;
    outline: none;
}
